body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    visibility: hidden;
}

p.nopad {
    padding: none;
}

p.nomar {
    margin: 0;
}

span.left-icon {
    padding-left: 5px;
}

label.control-label {
    padding-top: 10px;
} 

table.data-table {
    tbody {
        tr {
            td {
                line-height: 1;
            }
               
            $indents: 4;

            @for $i from 1 through $indents {
                td.indent-#{$i} {
                    padding-left: 5% * $i;
                }
            }
        }
        
        tr.active {
            color: mediumseagreen;
            font-weight: bold;
        }
    }
}