body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    visibility: hidden;
}

p.nopad {
    padding: none;
}

table.data-table {
    tbody {
        tr {
            td {
                line-height: 1;
            }
               
            $indents: 4;

            @for $i from 1 through $indents {
                td.indent-#{$i} {
                    padding-left: 5% * $i;
                }
            }
        }
    }
}